.appcontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}


.section {
  margin-bottom: 20px;
}

.sectiontitle {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: left;
}


.trendingcontainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; 
}

.trendingarticle {
  width: 22%;
  text-align: left;
}

.articleimage,
.articleimage2,
.articleimage1 {
  width: 100%;
  aspect-ratio: 4 / 3;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.articleinfo {
  font-size: 12px;
  color: #555;
}

.articletitle {
  font-size: 16px;
  margin: 10px 0;
}

.smallarticletitle {
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
}

.flexsection {
  display: flex;
  gap: 20px;
}

.technologycontainer {
  flex: 1;
}


.maintecharticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.maintecharticle img {
  width: 100%;
  aspect-ratio: 4 / 3;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
 
}

.othertecharticles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.techarticle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.techarticle p {
  text-align: left;
}

.featurepost {
  flex: 0.3;
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.additionalImages {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.smallImage {
  width: 30%; 
  border-radius: 8px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
a {
  text-decoration: none; 
  color: inherit;
  transition: transform 0.2s ease, color 0.2s ease; 
}


a:hover {
  transform: scale(1.05); 

}


.articletitle, .smallarticletitle {
  transition: transform 0.2s ease; 
}

.articletitle:hover, .smallarticletitle:hover {
  transform: scale(1.05); 
}

@media (max-width: 768px) {
  .trendingcontainer {
      flex-wrap: wrap;
      justify-content: center;
  }

  .trendingarticle {
      width: calc(50% - 15px);
  }

  .flexsection {
      flex-direction: column;
  }
  .maintecharticle {
      grid-template-columns: 1fr;
  }

  .othertecharticles {
      grid-template-columns: 1fr;
  }

  .featurepost {
      flex: 1;
      margin-top: 20px;
  }

  .additionalImages {
      flex-direction: column;
      align-items: center;
  }

  .smallImage {
      width: 80%; 
  }
}

@media (max-width: 480px) {
  .sectiontitle {
      font-size: 20px;
  }

  .trendingarticle {
      width: 100%; 
  }

  .articletitle {
      font-size: 14px;
  }

  .smallarticletitle {
      font-size: 12px;
  }

  .articleinfo {
      font-size: 10px;
  }

  .featurepost {
      margin-top: 15px;
      padding: 10px;
  }

  .maintecharticle, .othertecharticles {
      grid-template-columns: 1fr; 
  }

  .additionalImages {
      flex-direction: column;
      gap: 10px;
  }

  .smallImage {
      width: 100%;
  }
}
