.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #dfe4e9, #6973a7);
  padding: 20px 25px;
  color: #050288;
  border-radius: 8px;
  max-width: 1200px; 
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: background 0.3s ease;
  z-index: 3;
   font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoImage {
  width: 160px;
  height: auto;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.logoImage:hover {
  transform: rotate(10deg) scale(1.05);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.bar, .barOpen {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.barOpen:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.barOpen:nth-child(2) {
  opacity: 0;
}

.barOpen:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navmenu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navmenu ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navmenu ul li {
  font-size: 1.2rem;
}

.navmenu ul li a {
  color: #070c49;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  scroll-behavior: smooth; 
}

.navmenu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #6b7cff;
}

.activeLink {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  
  .navmenu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: linear-gradient(135deg, #dfe4e9, #6973a7);
    padding: 20px;
    text-align: left;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 2;
  }

  .navmenuOpen {
    transform: translateX(0);
  }

  .navmenu ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }
}
